@font-face {
   font-family: 'Nordic Alternative Regular';
   font-display: swap;
   src: url('file:///C:/Users/adria/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-02-19_012705/fonts/Nordic%20Alternative%20Regular/font.ttf');
}
